
form > div, fieldset, fieldset > div{
    margin-bottom: 10px;
    padding: 5px 0;
}

form {
    width: 750px;
}

fieldset {
    padding-left: 0;
    background: #EEE;
    border: 1px solid #AAA;
}

legend {
    color: #0000CC;
    font-weight: bold;
    font-variant-caps: small-caps;
}

textarea {
    vertical-align: text-top;
    width: 300px;
    height: 150px;
}

input[type=text], input[type=mail], select {
    width: 500px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-weight: bold;
}

label.obrigatorio {
    color: #AA0000;
}

div.cadastro {
    padding-left: 150px;
}

.cadastro label {
    width: 300px;
    text-align: left;
}

h1 {
    text-shadow: 0px 0px 5px cyan;
}