div {
    width: 400px;
    height: 90px;
    background-color: pink;
    border: 1px solid red;
}

#bloco1 {
    margin: 38px auto;
}

#bloco2 {
    margin-left: 50px;
    padding: 30px;
}

.fundo {
    background-color: yellow;
}