/* Este é um exemplo de código CSS */

label[for] {
    background: yellow;
}

.obrigatorio {
    color: red;
}

input[type=text] {
    background: #eee;
    border: black;
}

.form div {
    margin: 100px;
}

a[href*=edu] {
    background: green;
    color: #FFF;
}

/* Cores das opções do combobox */
option[value=S] {
    color: blue;
}

option[value=R] {
    color: red;
}

option[value=E] {
    color: green;
}

/* Fim das cores */

[placeholder] {
    color: red;
}