* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    height: 300px;
}

.flex-container > div {
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.menu {
    width: 30%;
    border-right: 2px dashed #AAA;
}

.conteudo {
    width: 70%;
    background-color: white;
}